[workspace]
members = ["empath", "empath-common", "empath-ffi", "empath-smtp", "empath-spool", "empath-tracing", "fuzz"]
resolver = "3"

[profile.release]
lto = "thin"
opt-level = 2
codegen-units = 1
