[[smtp.listener]]
socket = "[::]:1025"

[smtp.listener.tls]
certificate = "certificate.crt"
key = "private.key"

[smtp.listener.context]
service = "smtp"

[[smtp.listener]]
socket = "[::]:1026"

[smtp.listener.context]
service = "smtps"

[[module]]
type = "SharedLibrary"
name = "./empath-ffi/examples/libexample.so"
arguments = ["arg1"]

[[module]]
type = "SharedLibrary"
name = "./empath-ffi/examples/libevent.so"
arguments = ["arg1", "arg2"]

[spool]
path = "./spool/empath/test"
