[[smtp.listener]]
socket = "[::]:1025"

[smtp.listener.tls]
certificate = "certificate.crt"
key = "private.key"

[smtp.listener.context]
service = "smtp"

# Configure SMTP extensions for this listener
[[smtp.listener.extensions]]
# SIZE extension with 100MB maximum message size (in bytes)
# Set to 0 for no limit, or omit this extension entirely
size = 100000000

[[smtp.listener]]
socket = "[::]:1026"

[smtp.listener.context]
service = "smtps"

[[module]]
type = "SharedLibrary"
name = "./empath-ffi/examples/libexample.so"
arguments = ["arg1"]

[[module]]
type = "SharedLibrary"
name = "./empath-ffi/examples/libevent.so"
arguments = ["arg1", "arg2"]

[spool]
path = "./spool/empath/test"
